<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120277221665-jj033k734nbhu385uc9tnpjbi0r7vpga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120277221665-jj033k734nbhu385uc9tnpjbi0r7vpga</string>
	<key>API_KEY</key>
	<string>AIzaSyANkfw5sTOYD2T8uincQSHLdPAjEv9rTV8</string>
	<key>GCM_SENDER_ID</key>
	<string>120277221665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>my-cool-chat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>my-cool-chat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120277221665:ios:613135e03e9dfd62ac3e60</string>
</dict>
</plist>